{% load sweetify %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>{% block title %} SysClim - Sistema de Gestão Clínica {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css%}
    <!-- Bloco de CSS's extras definidos em cada página -->
    {%endblock%}
    <link rel="stylesheet" href="{% static 'css/custom-base-style.css' %}">

    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-default navbar-static-top header-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}" style="padding-top:7.5px !important;">
                        <img class="visible-lg visible-md" alt="Brand" height="60px;"
                            src="{% static 'img/logo_clinica.png' %}" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-menu">
                        <li><a href="{% url 'index' %}">Início</a></li>
                        {% if user.is_authenticated and request.user.cargo == "assistente" or request.user.cargo == "admin"%}
                        <li><a href="{% url 'comum:cadastrar_sala' %}">Cadastrar Sala</a></li>
                        <li><a href="{% url 'comum:cadastrar_especialidade' %}">Cadastrar Especialidade</a></li>
                        <!--<li><a href="{% url 'enfermagem:listar_vacinas' %}">Listar Vacinas</a></li>-->
                        <li><a href="{% url 'comum:listar_escalas' %}">Listar Escalas</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user" style="padding: 1rem"></span>
                                {{ user.nome}}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Adicione aqui os itens do dropdown, por exemplo: -->
                                {%if user.is_authenticated and request.user.cargo == "admin" %}
                                <li><a href="{% url 'cadastro' %}">Cadastrar Usuario</a></li>
                                    <li><a href="{% url 'visualizar_usuarios' %}">Lista de Usuarios</a></li>
                                    <li class="divider"></li>
                                {% endif %}
                                {%if user.is_authenticated %}
                                <li><a href="{% url 'visualizar_perfil' request.user.cpf %}">Atualizar Perfil</a></li>
                                <li><a href="{% url 'logout' %}">Sair</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="barra-auxiliar">
            <div class="container">
                <h4 class="col-md-4">Sistema de Gestão Clínica</h4>
                <div class="col-md-8 visible-lg visible-md">
                    {% block breadcrumb %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>
    <!-- Content -->
    <section class="container pb20">
        <div id="base-content">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <footer>
        <div class="image-container">
            <a href="https://www.ufs.br/"><img id="img_logoufs" src="{% static 'img/logo_ufs.png' %}"
                    alt="Logomarca do SysClim"></a>
            <a href="https://www.sigaa.ufs.br/sigaa/public/departamento/portal.jsf?id=83"><img id="img_logoufs"
                    src="{% static 'img/logo_dcomp.jpg' %}" alt="Logomarca do LAIS"></a>
        </div>
        <div class="footer-content">
            <p>2024 &copy; Departamento de Computação - UFS. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- JavaScripts -->
    {% block extra_script %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>

{% load sweetify %}
{% sweetify %}